<div class="container">

  <div class="partial-search">
    <div class="search-input">
      <label for="">Search here: </label> <input  (ngModelChange)="inputChnaged()" [(ngModel)]="searchText1" type="search">
     </div>

     <div class="text-contaniner" #textContainer id="textContainer" [innerHtml]="text | highlighter:searchText1:'partial'"  >     </div>
  </div>
  <div #markerBar *ngIf="markerHeight>0 &&markerTop>0 && markerTicks.length>0 " class="marker" [ngStyle]="{'height':markerHeight+'px','top':markerTop+'px'}" >
    <div class="markersTicks" *ngFor="let m of markerTicks" [ngStyle]="{'top':m+'px'}" ></div>
    <input class="input-navigator" type="text" disabled value="{{ activeIndex + ' of '+  markerTicks.length}}" >
    <div class="nav-btns">
      <img class="nav-btn" (click)="moveToNext()" src="/assets/down-arrow.png" alt="">
      <img  class="nav-btn" (click)="moveToBack()"  src="/assets/up-arrow.png" alt="">
    </div>


  </div>
</div>


